/****************MAIN CSS***************/
@charset "utf-8";
img, div { behavior: url('/fondevi/iepngfix.htc') }
body {
	font-family: "Swiss 721 SWA", Arial, sans-serif;
	color: #636060;
	font-size: 9pt;
	font-weight:500;
	background-color: #FFFFFF;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom:0px;
	margin-right:0px;
}

body a {
	border:none;
	color: #898b8e;
	text-decoration: none;
}

ul li{
	list-style:none;
	margin: 0 0 25px 0;
	line-height: 14px;
}

#grey {
	background-image:url(/cynthia_rybakoff/img/icon/grey.jpg);
	background-repeat:repeat-x;
}

#menu {
	background-image:url(/cynthia_rybakoff/img/icon/bg-menu.jpg);
	background-repeat:repeat-x;
	background-position:bottom;
}

#copy {
	width: 1280px;
	margin: 0 auto;
	position:relative; 
	top:30px;
}

h1 {
	margin: 30px 0 10px 0;
	padding: 0;
	color: white;
	font-size: 1.5em;
}

.paging{
	position:absolute;
	bottom:8px;
	right:22px;
	font-size:10px;
	color:#5f5f61;
}

.archiveList{
	position:absolute;
	bottom:6px;
	left:40px;
	color: #636060;
	z-index: 99999991;
	background: url(/cynthia_rybakoff/img/icon/arrow_dd.png) no-repeat right bottom;
	width:154px;
}
#archiveList{
	
	background-color:#bfbfc0;
	border:none;
}

#header_navigation{
	margin-bottom: 20px;
}

#main-content{
	width:886px;
	min-height: 300px;
	left: 50%;
	position:relative;
	margin-left: -443px;
}

#retailers-content{
	width: 678px;
	margin-left: 136px;
}

#events-content{
	width: 678px;
	margin-left: 170px;
}

.footer{
	margin-top: 30px;
	bottom: 15px; 
	position: absolute;
	font-family: verdana, "Swiss 721 SWA", Arial;
	font-size: 0.7em;
}

/* General class */
.clear{
	clear: both;
}

.static-block-250{
	width: 250px;
	float: left;
	margin-right: 40px;
}

.static-block{
	float:left;
}

.small{
	font-size: 11px;
}

.label{
	color: #636060;
}

/*************END MAIN CSS**************/

/**************SLIDERMAN****************/
.SliderName_1,.SliderName_2 {
	float: left;
	width: 680px;
	height: 500px;
	overflow: hidden;
}

.SliderNamePrev_1,.SliderNamePrev_2 {
	background: url(/cynthia_rybakoff/img/icon/arrow_prev.png) no-repeat right bottom;
	width: 470px;
	height: 18px;
	z-index:9999991;
	display: block;
	position: absolute;
	bottom: -20px;
	right: 40px;
	text-decoration: none;
}

.SliderNameNext_1,.SliderNameNext_2{
	background: url(/cynthia_rybakoff/img/icon/arrow_next.png) no-repeat right bottom;
	width: 680px;
	height: 20px;
	z-index:999999;
	display: block;
	position: absolute;
	bottom: -20px;
	right: 0;
	text-decoration: none;
} 
/**************END SLIDERMAN****************/


/**********Dropdown ANYLINKMENU*************/
.selectedanchor{ /*CSS class that gets added to the currently selected anchor link (assuming it's a text link)*/
background: #bfbfc0;
}

/* ######### Default class for drop down menus ######### */

.anylinkmenu{
position: absolute;
left: 0;
top: 0;
visibility: hidden;
border-bottom-width: 0;
line-height: 24px;
z-index: 100; /* zIndex should be greater than that of shadow's below */
background: #bfbfc0;
width: 200px; /* default width for menu */
}

.anylinkmenu ul{
margin: 0;
padding: 0;
list-style-type: none;
}

.anylinkmenu ul li{
margin: 0px;
line-height: 20px!important;
}

.anylinkmenu ul li a{
width: 100%;
display: block;
text-indent: 5px;
padding: 2px 0;
text-decoration: none;
}

.anylinkmenu a:hover{ /*hover background color*/
background: #EFEFEF;
color: #636060;
left: 77px;
top: 634px;
}

/* ######### Alternate multi-column class for drop down menus ######### */
.anylinkmenucols{
position: absolute;
width: 350px;
left: 0;
top: 0;
visibility: hidden;
padding: 0px;
z-index: 100; /*zIndex should be greater than that of shadow's below*/
background: #E9E9E9;
}

.anylinkmenucols li{
padding-bottom: 3px;
}

.anylinkmenucols .column{
float: left;
padding: 3px 0;
margin-right: 5px;
background: #E0E0E0;
}

.anylinkmenucols .column ul{
margin: 0;
padding: 0;
list-style-type: none;
}

/**********End Dropdown ANYLINKMENU*********/


/**************LITE ACCORDION***************/
@charset 'utf-8';
/*************************************************!
*
*   project:    liteAccordion - a horizontal accordion plugin for jQuery
*   author:     Nicola Hibbert
*   url:        http://nicolahibbert.com/liteaccordion-v2/
*   demo:       http://www.nicolahibbert.com/demo/liteAccordion/
*
*   Version:    2.0a
*   Copyright:  (c) 2010-2011 Nicola Hibbert
*   Licence:    MIT
*
**************************************************/
/****************************************** Core */
.accordion { text-align: left; font: 'Helvetica Neue', Verdana, Arial, sans-serif; margin-left:auto; margin-right:auto; }
.accordion > ol { position: relative; overflow: hidden; height: 100%; margin: 0; padding: 0; list-style-type: none }
.accordion .slide > h2 { 
	color: black;
    font-size: 12px;	 
	font-weight: normal;
	margin: 0; 
	z-index: 100; 
	position: absolute;
	top: -35px; 
	left: 0; 
	-webkit-transform: translateX(0) rotate(90deg); 
	-webkit-transform-origin: left bottom; 
	-moz-transform: translateX(0) rotate(90deg);
	-moz-transform-origin: left bottom;
	-o-transform: translateX(0) rotate(90deg); 
	-o-transform-origin: left bottom;
	transform: translateX(0) rotate(90deg);
	transform-origin: left bottom;
	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); 
}
.accordion .slide > h2 span { 
    display: block; 
    padding-left: 2%; 
    text-align: left; 
    height: 98%;
    margin-top: 3px; 
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.accordion .slide > h2 b { 
    display: inline-block; 
    position: absolute; 
    text-align: center; 
    -webkit-transform: rotate(90deg); 
    -moz-transform: rotate(90deg); 
    -o-transform: rotate(90deg); 
    transform: rotate(90deg);
	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.accordion .slide > h2:hover { cursor: pointer }
.accordion .slide > div { height: 100%; position: absolute; top: 0px; right:0px; z-index: 10; overflow: hidden; margin-right:3px; background: white; }
.accordion noscript p { padding: 10px; margin: 0; background: white }

/****************************************** Basic */
.basic .slide > h2 { background: #333; color: white; line-height: 225% }

/****************************************** Dark */
.dark {
    background: #fff; 
    /*-webkit-box-shadow: 0 -1px 0 #5b5b5b inset, 0 5px 15px rgba(0, 0, 0, 0.4); 
    -moz-box-shadow: 0 -1px 0 #5b5b5b inset, 0 5px 15px rgba(0, 0, 0, 0.4); 
    -ms-box-shadow: 0 -1px 0 #5b5b5b inset, 0 5px 15px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0 -1px 0 #5b5b5b inset, 0 5px 15px rgba(0, 0, 0, 0.4);
	box-shadow: 0 -1px 0 #5b5b5b inset, 0 5px 15px rgba(0, 0, 0, 0.4);*/
}
.dark .slide > h2 { background: #fff; line-height: 265% }
.dark .slide > h2 span { background: #bfbfc0; color: #3c3c3c; text-transform:uppercase; }
.dark .slide > h2 b { background: #353535; color: #030303; }
.dark .slide > h2.selected span, .dark .slide > h2.selected span:hover { 
  background-color: #e3d2ac;
}
.dark .slide > h2.selected b { background: #e3d2ac }
.dark .slide > div { background: #bfbfc0; }
.dark img { height:95%; }

/*************************************** Rounded */
.rounded, .rounded > ol { -webkit-border-radius: 6px; -moz-border-radius: 6px; -ms-border-radius: 6px; border-radius: 6px }
.rounded .slide > h2 span { -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; border-radius: 4px }

/******************************************** IE */
.ie9 .slide > h2 { filter: none; -ms-transform: translateX(-100%) rotate(-90deg); -ms-transform-origin: right top }

.ie.stitch .slide > h2 { line-height: 265% }
.ie.stitch .slide > h2 span { height: 89%; padding-right: 8% }
.ie.stitch .slide > h2.selected:after { display: none }

/***************END ACCORDION***************/
