/*----MORRA----*/

@import url('reset.css');

/*----MAIN LAYOUT----*/

html {
	overflow-y:scroll;
}

body {
	background: #eeeeee url('/fondevi/img/mr_bg_stripe.png') repeat-x;
	font-family: "HelveticaNeueRegular", Helvetica, arial, san-serif;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
}

a:link {
	color: #fff;
	text-decoration: none;
}

a:visited {
	color: #fff;
}

a:hover {
	color: #000;
	text-decoration: none;
}

#mr_Canvas {
	position: relative;
}

/*----CLEAR & ALIGNMENT----*/

.clearFix {
	clear: both;
}

.alignLeft {
	float: left !important;
}

.alignRight {
	float: right !important;
}

.isHidden {
	display: none;
}

.isBlock {
	display: block;
}

.isInline {
	display: inline;
}

.isLast {
	margin-bottom: 0;
}

/*----COLOR SETTING----*/

#mr_Canvas.isHome div.adjustBG { background-color: #f68c14; }
#mr_Canvas.isHome #mr_Navigation a:hover, #mr_Canvas.isHome #mr_Navigation li.isSelected a { color: #f68c14;}
#mr_Canvas.isHome #mr_Footer { background-color: #f2cc4a; }

#mr_Canvas.isAbout div.adjustBG { background-color: #c14499; }
#mr_Canvas.isAbout #mr_Navigation a:hover, #mr_Canvas.isAbout #mr_Navigation li.isSelected a { color: #c14499;}
#mr_Canvas.isAbout div.adjustBlockBG { background-color: #af3c8b; }
#mr_Canvas.isAbout #mr_Footer { background-color: #dfa6cf; }

#mr_Canvas.isServices div.adjustBG { background-color: #4cc2c5; }
#mr_Canvas.isServices #mr_Navigation a:hover, #mr_Canvas.isServices #mr_Navigation li.isSelected a { color: #4cc2c5;}
#mr_Canvas.isServices div.adjustBlockBG { background-color: #43a8ab; }
#mr_Canvas.isServices #mr_Footer { background-color: #7ed2d7; }

#mr_Canvas.isPartners div.adjustBG { background-color: #97b93d; }
#mr_Canvas.isPartners #mr_Navigation a:hover, #mr_Canvas.isPartners #mr_Navigation li.isSelected a { color: #97b93d;}
#mr_Canvas.isPartners div.adjustBlockBG { background-color: #8ba93e; }
#mr_Canvas.isPartners #mr_Footer { background-color: #b2e777; }

#mr_Canvas.isCareer div.adjustBG { background-color: #ed7464; }
#mr_Canvas.isCareer #mr_Navigation a:hover, #mr_Canvas.isCareer #mr_Navigation li.isSelected a { color: #ed7464;}
#mr_Canvas.isCareer div.adjustBlockBG { background-color: #ee6958; }
#mr_Canvas.isCareer #mr_Footer { background-color: #f29b7c; }

#mr_Canvas.isContact div.adjustBG { background-color: #875bab; }
#mr_Canvas.isContact #mr_Navigation a:hover, #mr_Canvas.isContact #mr_Navigation li.isSelected a { color: #875bab;}
#mr_Canvas.isContact div.adjustBlockBG { background-color: #8051a6; }
#mr_Canvas.isContact #mr_Footer { background-color: #aa91d6; }

/*----TYPOGRAPHY----*/

@font-face {
    font-family: 'HelveticaNeueRegular';
    src: url('font/HelveticaNeue.ttf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaNeueBold';
    src: url('font/HelveticaNeueLTStd-Bd.otf');
    font-weight: bold;
    font-style: normal;

}

h1, h2, h3, h4, h5, h6 {
	font-family: "HelveticaNeueBold", Helvetica, arial, san-serif;
	margin-bottom: 36px;
}

h1 {
	font-size: 64px;
	line-height: 70px;
}

h2 {
	font-size: 48px;
	line-height: 50px;
}

h3 {
	font-size: 35px;
	line-height: 40px;
}

h4 {
	font-size: 30px;
	line-height: 36px;
}

h5 {
	font-size: 24px;
	line-height: 30px;
}

h6 {
	font-size: 18px;
	line-height: 20px;
}

p {
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 30px;
}

ul, ol {
	margin-bottom: 20px;
}

ul li {
	list-style-type: disc;
	margin-left: 20px;
}

ol li {
	list-style-type: decimal;
	margin-left: 25px
}

.lowMargin {
	margin-bottom: 12px;
}

.mr_FounderMeta {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 11px;
	line-height: 12px;
	text-transform: uppercase;
}

/*----HEADER----*/

#mr_Header, #mr_Body {
	width: 1000px;
	margin: auto;
}

#mr_Header {
	margin: 30px auto;
}

#mr_Logo {
	float: left;
	width: 80px;
	height: 80px;
	margin-left: 30px;
}

#mr_Navigation {
	float: right;
	margin: 60px 0 10px 0;
}

#mr_Navigation li {
	font-size: 11px;
	line-height: 14px;
	display: inline;
	float: left;
	margin: 0 0 0 30px;
	text-transform: uppercase;
}

#mr_Navigation li a {
	color: #000;
}

/*----BODY----*/

.mr_LeftColumn {
	width: 500px;
	float: left;
}

.mr_RightColumn {
	width: 460px;
	float: right;
	margin-left: 40px;
}

.mr_Block {
	padding: 35px;
	margin-bottom: 40px;
	
	box-shadow: 5px 5px 5px #b2b2b2;
	-moz-box-shadow: 5px 5px 5px #b2b2b2;
	-webkit-box-shadow: 5px 5px 5px #b2b2b2;

	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=90, Color='#b2b2b2')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=90, Color='#b2b2b2');
}

.mr_Block.isSetHeight {
	height: 450px;
}

.mr_Address {
	font-size: 14px;
	line-height: 18px;
	background-color: #858585;
	color: #fff;
}

.mr_Address p {
	font-size: 14px;
	line-height: 18px;
}

#mr_Body a:link {
	color: #fff;
	font-weight: bold;
}

#mr_SocMedList {
	float: right;
	width: 140px;
}

#mr_SocMedList li {
	line-height: 26px;
	padding-left: 34px;
	list-style-type: none;
	margin: 0 0 10px 0;
}

#mr_SocMedList li.isFacebook {
	background: url('/fondevi/img/icon/socmed_30.png') no-repeat 0 -3px;
}

#mr_SocMedList li.isTwitter {
	background: url('/fondevi/img/icon/socmed_30.png') no-repeat 0 -32px;
}

#mr_SocMedList.isLarge {
	width: auto;
	float: left;
	margin: 0;
}

#mr_SocMedList.isLarge li {
	display: inline;
	float: left;
	font-size: 24px;
	font-weight: bold;
	line-height: 52px;
	padding-left: 54px;
	margin: 0 20px 0 0;
} 

#mr_SocMedList.isLarge li.isFacebook {
	background: url('/fondevi/img/icon/socmed_50.png') no-repeat 0 0;
}

#mr_SocMedList.isLarge li.isTwitter {
	background: url('/fondevi/img/icon/socmed_50.png') no-repeat 0 -50px;
}

/*----CAREER LIST----*/

ol.mr_CareerList li {
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 5px;
}

select {
	font-size: 18px;
	padding: 6px;
	width: 300px;
	border: 1px solid #ed7464;
}

option {
	font-size: 18px;
}

/*----CONTACT FORM----*/

.byEmail, .byPhone, .byPostal {
	padding: 25px 25px 25px 120px;
	height: 30px;
}

.byEmail {
	background: url('/fondevi/img/icon/contact.png') no-repeat 26px 6px;
}

.byPhone {
	background: url('/fondevi/img/icon/contact.png') no-repeat 26px -64px;
	margin-top: -10px;
}

.byPostal {
	background: url('/fondevi/img/icon/contact.png') no-repeat 26px -134px;
	margin-top: -10px;
}

.byPostal p {
	margin-top: -7px;
}

#mr_Form {
	margin-top: -10px;
}

#mr_Form div {
	margin-bottom: 10px;
}

label {
	width: 150px;
	line-height: 36px;
}

input[type=text], textarea {
	font-size: 18px;
	padding: 4px;
}

input[type=text] {
	float: right;
}

#mr_Form textarea {
	width: 382px;
}

#mr_Form input.mr_SendButton {
	margin: -30px 0 -45px 345px;
}

/*----FOOTER----*/

#mr_Footer {
	text-transform: uppercase;
	position: fixed;
	bottom: 0;
	background: url('/fondevi/img/mr_bg.png') repeat-x;
	height: 165px;
	width: 100%;
	overflow: none;
	z-index: -1000;
	margin-bottom: 18px;
}

#mr_Footnote {
	width: 100%;
	height: 14px;
	margin-bottom: -18px;
	overflow: hidden;
	position: absolute;
	bottom: 0;
	background-color: #f2f2f2;
	padding: 2px 0;
	font-size: 10px;
	line-height: 12px;
	color: #464646;
	border-top: 1px solid #ccc;
	z-index: 9999;
}

#mr_Footnote span {
	margin: 0 10px;
}

#mr_Footnote a {
	color: #252525;
}

